# https://docs.github.com/en/actions

name: "Create release on push on main"

on: [label, push]

jobs:
  release:
    name: "Release"

    runs-on: "ubuntu-latest"

    steps:
      - name: Auto Generate Next Release Tag
        id: generate_release_tag
        uses: amitsingh-007/next-release-tag@v3.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ""

      - name: "Write version to file"
        uses: "actions/github-script@v6"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            try {
              const fs = require("fs");
              fs.writeFile('./version.txt', "test", err => {
                if (err) {
                  console.error(err);
                }
                // file written successfully
              });

              core.debug("Finished task");
            } catch (error) {
              core.setFailed(error.message);
            }
