# https://docs.github.com/en/actions

name: "Create release on push on main"

on: [label, push]

jobs:
  release:
    name: "Release"

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3

      - name: Get changes ATLAS
        id: changed-files-atlas
        uses: tj-actions/changed-files@v35
        with:
          files: TestFolder/**

      - name: Perform necessary steps if files changes
        if: ${{ steps.changed-files-atlas.outputs.any_changed == 'true'}}
        run:
          steps:
            name: Build Atlas staging
            uses: ./.github/workflows/build-webapp
            
            name: Build3454
            uses: ./.github/workflows/formatting

          # name: Build Atlas staging
          # uses: ./.github/workflows/build-webapp

          # name: Build Atlas staging
          # uses: ./.github/workflows/formatting
